$colors:(
    primary: (
        100: hsl(255, 100%, 80%),
        200: hsl(255, 100%, 70%),
        300: hsl(255, 100%, 60%),
        400: hsl(255, 100%, 43%),
        500: hsl(255, 100%, 20%),
        600: hsl(255, 100%, 5%),
    ),
    article: (
        100: hsl(400, 89%, 80%),
        200: hsl(400, 89%, 70%),
        300: hsl(400, 89%, 60%),
        400: hsl(400, 89%, 37%),
        500: hsl(400, 89%, 20%),
        600: #ffdd1c,
    ),
    youtube: (
        100: hsl(345, 88%, 80%),
        200: hsl(345, 88%, 70%),
        300: hsl(345, 88%, 60%),
        400: hsl(345, 88%, 46%),
        500: hsl(345, 88%, 20%),
    ),
    course: (
        100: hsl(176, 66%, 70%),
        200: hsl(176, 66%, 60%),
        300: hsl(176, 66%, 40%),
        400: hsl(176, 66%, 30%),
        500: hsl(176, 66%, 20%),
    ),
    secondary: (
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 57%),
        300: hsl(0, 0%, 25%),
        400: hsla(217, 89%, 2%, .15),
        500: hsl(217, 89%, 2%),
        600: #f9f9ff,
    )
);